In [3]:
2+2

4

# heading 1

In [15]:
import pandas as pd

In [47]:
data1 = pd.read_excel('C:/Users/Acer/Desktop/Research/Market indices monthly.xlsx', header = 0)

In [48]:
data1.head(10)

,Date,ASPI,SPI / MPI (Jan-99 onwards),S&P SL 20,'TURNOVER- Rs Mn Equity,MARKET CAP.- RS. BN.,SHARES -'000,TRADES,BFI,BFT,...,L&P,MFG,MTR,OIL,PLT,P&E,SRV,S&S,TLE,TRD
0,1994-01-31 00:00:00,1127.17,1734.43,NaN,4500.270118,145.684375,67250.243,43486,3195.93,930.55,...,213.77,839.05,788.08,1001.13,NaN,0.0,2241.47,1214.25,0.0,1326.11
1,1994-02-28 00:00:00,1375.12,2093.75,NaN,5511.576308,175.838859,68583.261,52404,3982.63,1039.20,...,302.65,1071.12,912.11,1001.13,NaN,0.0,2717.54,1280.45,0.0,1783.45
2,1994-03-31 00:00:00,1190.33,1755.91,NaN,5468.709349,154.586034,63733.285,46561,3437.59,913.56,...,241.02,906.28,839.81,1001.13,NaN,0.0,2268.17,1312.34,0.0,1494.27
3,1994-04-29 00:00:00,1050.85,1555.88,NaN,2108.085214,137.287798,29004.000,20170,2975.37,768.59,...,215.41,760.12,807.79,1001.13,NaN,0.0,2219.92,1282.72,0.0,1333.90
4,1994-05-31 00:00:00,1014.93,1479.04,NaN,1584.017395,133.771600,26329.465,23337,2883.60,772.92,...,212.85,773.19,714.72,993.46,NaN,0.0,1935.95,1251.70,0.0,1161.21
5,1994-06-30 00:00:00,981.73,1458.04,NaN,2335.123459,133.140233,30484.030,28167,2810.74,799.14,...,194.11,760.01,700.73,993.46,NaN,0.0,1776.38,1198.38,0.0,1211.98
6,1994-07-29 00:00:00,976.47,1455.12,NaN,2115.205699,134.252438,30462.475,28144,2838.16,761.91,...,193.56,774.57,692.82,993.46,NaN,0.0,1785.59,1244.19,0.0,1210.53
7,1994-08-31 00:00:00,1048.58,1537.13,NaN,2224.218620,145.106530,35405.817,31017,3010.89,826.50,...,221.82,872.52,700.95,993.46,NaN,0.0,1864.40,1240.29,0.0,1252.64
8,1994-09-30 00:00:00,1143.23,1682.63,NaN,3964.668956,163.962599,66767.820,52454,3453.90,871.76,...,210.76,954.51,709.91,993.46,NaN,0.0,1908.34,1305.15,0.0,1349.77
9,1994-10-31 00:00:00,1093.65,1600.98,NaN,1722.539486,158.422857,31844.890,28041,3277.29,813.90,...,205.98,904.71,678.98,993.46,NaN,0.0,2012.50,1293.16,0.0,1278.93